body{
    background-color: silver;
}
h1{
    background-color: rgb(197, 145, 145);
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
}

footer{
    background-color:  rgb(11, 14, 14);
    text-align: center;
    padding: 10 px;
}
h2{
    background-color: silver;
}
.paragrafo-inicial{
    background-color: rgb(15, 14, 14);
}
img{
    border-radius: 50%;
}

p{
    background-color: rgb(12, 12, 12);
}

header{
    background-color:rgba(207, 179, 179, 0.628);
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    border-radius: 15px;
}
p.italic {
  font-style: italic;
}